## 1. **Python Output**

In [ ]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [ ]:
# print number
print (7)

7

In [ ]:
# print decimal
print(7.7)

7.7

In [ ]:
# print boolean
print(True)

True

In [ ]:
# multiple points
print("Hello", 1, 4.5, False)

Hello 1 4.5 False

In [ ]:
print("Hello", 1, 4.5, False, sep='/')

Hello/1/4.5/False

In [ ]:
print("Hello")
print("World")

Hello
World

In [ ]:
print("Hello", end="-")
print("World")

Hello-World

## 2. **Data Types**

In [ ]:
# Integer
print(8)
# 1 * 10^308
print(1e308)
# 1 * 10^309 # -> out of range....
print(1e309)

8
1e+308
inf

In [ ]:
# decimal / float
print(8.55)
# 1.7 * 10^308
print(1.7e308)
# 1.7 * 10^309
print(1.7e309)

8.55
1.7e+308
inf

In [ ]:
# Boolean
print(True)
print(False)

True
False

In [ ]:
# Text / String
print('Hello String')

Hello String

In [ ]:
# complex number
print(5+6j)

(5+6j)

In [ ]:
# List
print([1, 2, 3, 4, 5, 6])

[1, 2, 3, 4, 5, 6]

In [ ]:
# Tuple
print((1, 2, 3, 4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [ ]:
# Sets
print({1, 2, 3, 4, 5, 6})

{1, 2, 3, 4, 5, 6}

In [ ]:
# Dictionary
print({'name': 'Munish', 'age': 49, 'gender': "Male", 'weight': 78})

{'name': 'Munish', 'age': 49, 'gender': 'Male', 'weight': 78}

In [ ]:
# type # -> type of a data
print(f'type("Hello World"): {type("Hello World")}')
print(f"type(88): {type(88)}")
print(f"type(8.8): {type(8.8)}")
print(f"type(False): {type(False)}")
print(f"type(6+7j): {type(6+7j)}")
print(f"type([1,2,3,4]): {type([1,2,3,4])}")
print(f"type((1,2,3,4)): {type((1,2,3,4))}")
print(f"type({1,2,3,4}): {type({1,2,3,4})}")
print(f"type({{'name': 'Munish', 'age': 49, 'gender': 'Male', 'weight': 78}}): {type({'name': 'Munish', 'age': 49, 'gender': 'Male', 'weight': 78})}")
person = {'name': 'Munish', 'age': 49, 'gender': 'Male', 'weight': 78}
print(f"type(person): {type(person)}")

type("Hello World"): <class 'str'>
type(88): <class 'int'>
type(8.8): <class 'float'>
type(False): <class 'bool'>
type(6+7j): <class 'complex'>
type([1,2,3,4]): <class 'list'>
type((1,2,3,4)): <class 'tuple'>
type((1, 2, 3, 4)): <class 'set'>
type({'name': 'Munish', 'age': 49, 'gender': 'Male', 'weight': 78}): <class 'dict'>
type(person): <class 'dict'>

## 3. **Variables**

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# Stylish Declaration Techniques

name = 'Munish' # no need to show data type....
print (name)

a = 5
b = 6
print (a + b)

name1 = 'Munish'
blankspace = ' '
name2 = 'Sawhney'
print (name1 + blankspace + name2)

# '+' used to add for two numbers
# '+' used to concatenate two strings / text

Munish
11
Munish Sawhney

In [ ]:
# Dynamic Typing
# you do not tell the type of variable. Python automatically infers type
# you need to tell the type of variable like C/ C++ / Java

# Dynamic binding -> supported by python
a = 5
print (a, type(a))
a = 'Munish'
print (a, type(a))

# Static binding -> supported by c / c++ / java
# cannot change the type once assigned

5 <class 'int'>
Munish <class 'str'>

In [ ]:
# Dynamic binding -> supported by python

a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [ ]:
# Stylish Declaration Techniques
a,b,c = 1,2,3
print(a,b,c)
print(a,b)
print(b,a)

same_value_var1=same_value_var2=same_value_var3 = 5
print(same_value_var1, same_value_var2, same_value_var3)

1 2 3
1 2
2 1
5 5 5

**Comments**

In [ ]:
# this is a comment
a = 5 # assigned 5 to a
b = 6 # assigned 6 to b

print(a + b) # adds a and b and prints the sum...

# can write comments on top of the line or or side....

11

4. **Keywords & Identifiers**

In [ ]:
# Keywords
# reserved words by python which are understood by python compiler.
# 32 words are python compiler. don't use them them as variable name.

# Identifiers
# names created in program are identifiers
# identifiers eg. function names, class names, variables etc.
# rules for creating identifiers:
#  1. cannot start the name with a digit but digit and come in end or middle
#  2. use uppercase, lowercase, digits but in special case use just '_' (underscore)
#     eg. even _ can be a variable name.
#  3. identifier names cannot be keywords names.

5. **User Input**

In [ ]:
# two types of softwares - static softwares and dynamic softwares
# static softwares: we just seek information eg. calendar, clock, blogs, college website (just taking information)
# dynamic softwares: interactive eg. youtube, facebook, ola, zomat0. 99% s/wares are dynamic
# - important aspect of dynamic softwares is that we should be able to take input from user.

# - in python we use function 'input' to take input from the user.

input('Apna naam bataa: ')
input('Enter email: ')

Apna naam bataa: Munish
Enter email: MUNISH@GMAIL.COM

'MUNISH@GMAIL.COM'

In [ ]:
# Take input from users and store them in a variable
# add the two variables and store result in 3rd variable result
# print the result

fnum = input("Enter the 1st number: ")
snum = input("Enter the 2nd number: ")
print(f"fnum: {fnum} and type(fnum): {type(fnum)}")
print(f"snum: {snum} and type(snum): {type(snum)}")
result = fnum + snum
print(f"result: {result}")

# because string is the universal format to store inputs

Enter the 1st number: 12
Enter the 2nd number: 14
fnum: 12 and type(fnum): <class 'str'>
snum: 14 and type(snum): <class 'str'>
result: 1214

# 6. **Type Conversion**

In [ ]:
# in type conversion the variable is not permanently converted but in typecasting the varialbe is permanently converted.
# Implicit type conversion vs Explicit type conversion
# Implicit type conversion = compiler automatically converts the type
# eg....
print (5 + 5.6)
print (type(5), type(5.6), type(5 + 5.6))
# 5 is implicitly converted to float

# eg. print(4 + '4') -> gives error as int and str are incompatible

# explict type conversion
# str -> int
# type conversion is possible if it is possible
print(type(int('4')))
print(type(complex('4+5j')))
print(type(str(5)))

10.6
<class 'int'> <class 'float'> <class 'float'>
<class 'int'>
<class 'complex'>
<class 'str'>

In [ ]:
fnum = input("Enter the 1st number: ")
snum = input("Enter the 2nd number: ")
print(f"fnum: {fnum} and type(fnum): {type(fnum)}")
print(f"snum: {snum} and type(snum): {type(snum)}")
result = int(fnum) + int(snum)
print(f"result: {result}")
print(f"fnum type: {type(fnum)}")

Enter the 1st number: 12
Enter the 2nd number: 14
fnum: 12 and type(fnum): <class 'str'>
snum: 14 and type(snum): <class 'str'>
result: 26
fnum type: <class 'str'>

# 7. **Literals**

In [ ]:
# What ever raw value is stored is called as Literal.

a = 0b1010 # Binary Literal
b = 100  # Decimal Literal
c = 0o310 # Octal Literal
d = 0x12c # Hexadecimal Literal
print(a, b, c, d)

# Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3  # 1.5 * 10^-3

# Complex Literal
x = 3.14j
print(x.real, x.imag)

10 100 200 300
0.0 3.14

In [ ]:
# string literals
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(c)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
200
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
# python treats booleans as integers
# True is interpreted as 1
# False is interpreted as 0
a = True + 4
b = False + 10

print("a: ", a, type(a))
print("b: ", b, type(b))

a:  5 <class 'int'>
b:  10 <class 'int'>

In [ ]:
a = None
print (a, type(a))

# in python there is no way you can declare a variable (because of dynamic type inferance)
# so we declare that variable as None

None <class 'NoneType'>

#8. **Operators**

In [ ]:
# Arithematic
# Relational
# Logical
# Bitwise
# Assignment
# Membership

# 9. **if-else**